@charset "UTF-8"
/* マウスオーバーした際のボタンのデザイン */
a.q1:hover{
    background-color: #ff9f25;
    color: #fff;
    border: 2px solid #ff9f25;
    margin: auto;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, #ff9f25);
}

body{
    background-color: #fff;
    font-family: 'Open Sans',sans-serif;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

a.q1{
    background-color: #fff;
    color: #ff9f25;
    border: 2px solid #ff9f25;
}