@charset "UTF-8";
body{
    background-color: ivory;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

body h1{
    background-color: #f08080;
}

.zairyou h2{
    background-color:#ffa07a;
}

.howtomake h2{
    background-color: #ffa07a;
}

.point h2{
    background-color: #ffa07a;
}

.hitokoto h2{
    background-color: #ffa07a;
}


.kimuchi img{
    width: 80%;
}

mark{
    background: linear-gradient(transparent 70%, #ff9966 40%);
    line-height: 1;
    list-style: none;
}
