.marker{
    background: linear-gradient(transparent 50%,rgb(123, 147, 255)50%);
    display: inline;

    /*背景の繰り返しを停止*/
    background-repeat: no-repeat;

    /*マーカーの横方向を０にして縮める*/
    background-size: 0% 100%;

    /*マーカーが引かれる速度を指定*/
    transition:background-size 5ms;
}
/*マーカーが引かれる際に付与するクラス*/
.marker.on{
    /*横方向を100％にして、マーカーを引く*/
    background-size:  100% 100%;
}