@charset "UTF-8";
body{
    background-color: #ffffcc;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

body h1{
    background-color: #ffa07a;
    color: ivory;
}

.zairyou h2{
    background-color:#ffa07a;
    color: ivory;
}

.howtomake h2{
    background-color: #ffa07a;
    color: ivory;
}

.point h2{
    background-color: #ffa07a;
    color: ivory;
}

.hitokoto h2{
    background-color: #ffa07a;
    color: ivory;
}


.kimuchi img{
    text-align: center;
    width: 400px;
    height: auto;
}

mark{
    background: linear-gradient(transparent 30%, #ffff66 70%);
    line-height: 1;
    list-style: none;
}

.kouka{
    border-bottom: dashed 2px;
    border-color: red;
}