h1.q1{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    color:#5bdb9e;
    text-decoration: none;
}

h1.q1::before{
    content: '';
    width: 18px;
    height: 18px;
    background: #5bdb9e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    margin-top: -9px;
}

h1.q1::after{
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    transform: rotate(45deg);
}

body{
    background-color: #fff;
    color: #666;
    font-family:"メイリオ",Meiryo,"MS Pゴシック","MS PGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,sans-serif;
}

h1{
    font-family:"M PLUS 1p",sans-serif;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.25;
}