a.q2:hover{
    background-color: #ff9f25;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
    transition: .3s;
    border-radius: 10px;
}

body{
    background-color: #fff;
    font-family: 'Open Sans',sans-serif;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}

a.q2{
    background-color: #ff9f25;
    color: #fff;
}